<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>ユニット編成画面</title>
</head>

<body>
	<h1>ユニット情報</h1>

	<h3 th:text="${title}">タイトル</h3>

	<form method="get" th:action="@{/hensei/select}"
		th:object="${formUnitjyouhou}">

		<label>所属戦団:</label> <select name="syozoku" th:field="*{sid}">
			<option value="00"></option>
			<option th:each="sendan : ${prefecturesList}" th:value="${sendan.id}"
				th:text="${sendan.fname}"
				th:selected="${sendan.id == selectedValue}"></option>
		</select> <br>


		<label>ユニット役割:</label> <select name="yakuwari" th:field="*{yid}">
			<option value="00"></option>
			<option th:each="yakuwari : ${unityakuwari}"
				th:value="${yakuwari.id}" th:text="${yakuwari.ywname}"
				th:selected="${yakuwari.id == selectedValue}"></option>
		</select> <br>

		<input th:if="${zid}" type="hidden" th:field="*{zid}" /> <br> <input
			type="submit" value="検索" name="SOUSIN">

	</form>
	<br>


	<table border="1" th:if="${jyouhouList != null && jyouhouList.size() >= 1}">
		<thead>
			<tr>

				<th>ID</th>
				<th>画像</th>
				<th>ユニット名称</th>
				<th>所属戦団</th>

				<th>ユニット役割</th>
				<th>パワーコスト</th>
				<th>現実価格</th>
				<th>構成員人数</th>
				<th>構成員増員数</th>
				<th>構成員総数</th>
				<th>増員区分</th>

			</tr>
		</thead>
		
		<tbody th:each="obj : ${jyouhouList}" align="center"
			th:object=${obj}>
			<tr>

				<td th:text="${obj.zid}"></td>

				<td><img th:src="${'/images/'+ obj.img}" alt="" width="100"
					height="100"></td>

				<td th:text="${obj.yuname}" align="left"></td>
				<td th:text="${obj.sendanm.fname}" align="left"></td>
		
				<td th:text="${obj.unityakuwarim.ywname}" align="left"></td>
				
				<td th:text="${obj.pck}"></td>
				<td th:text="${obj.mck}"></td>
				<td th:text="${obj.ninnzuu}"></td>
				<td th:text="${obj.zouin}"></td>
				<td th:text="${obj.sousuu}"></td>
				<td th:text="${obj.kbzouin}"></td>


			</tr>
		</tbody>
	</table>

	<div th:if="${jyouhouList != null && jyouhouList.size() == 0}">登録されているユニット情報はありません。</div>


	<h1>ユニット構成員情報検索</h1>

	<h3 th:text="${title}">タイトル</h3>

	<form method="get" th:action="@{/hensei/select2}"
		th:object="${formUnitkousei}">

		<label>所属戦団:</label> <select name="syozoku" th:field="*{sid}">
			<option value="00"></option>
			<option th:each="sendan : ${prefecturesList}" th:value="${sendan.id}"
				th:text="${sendan.fname}"
				th:selected="${sendan.id == selectedValue}"></option>
		</select> <br> 

		<label>ユニット分類:</label> <select name="bunrui" th:field="*{bid}">
			<option value="00"></option>
			<option th:each="unitbunruim : ${unitbunrui}"
				th:value="${unitbunruim.id}" th:text="${unitbunruim.brname}"
				th:selected="${unitbunruim.id == selectedValue}"></option>
		</select> <br>


		<input th:if="${kid}" type="hidden" th:field="*{kid}" /> <br> <input
			type="submit" value="検索" name="kensaku">

	</form>

	<br>

	<table border="1"
		th:if="${kouseiList != null && kouseiList.size() >= 1}">
		<thead>
			<tr>
				<th>ID</th>
				<th>構成員名称</th>
				<th>所属戦団</th>
				<th>ユニット分類</th>
				<th>攻撃</th>
				<th>耐久</th>
				<th>傷</th>
				<th>白兵回数</th>
				<th>気力</th>
				<th>防御1</th>
				<th>防御2</th>
				<th>アビリティ</th>

			</tr>
		</thead>

		<tbody th:each="obj : ${kouseiList}" align="center" th:object=${obj}>
			<tr>

				<td th:text="${obj.kid}"></td>
				<td th:text="${obj.kname}" align="left"></td>
				
				<td th:text="${obj.sendanm.fname}"></td>
				
				<td th:text="${obj.unitbunruim.brname}" align="left"></td>
				
				<td th:text="${obj.at}"></td>
				<td th:text="${obj.taff}"></td>
				<td th:text="${obj.uunz}"></td>
				<td th:text="${obj.ak}"></td>
				<td th:text="${obj.ld}"></td>
				<td th:text="${obj.asa}"></td>
				<td th:text="${obj.assp}"></td>
				<td th:text="${obj.abl}" align="left"></td>

			</tr>
		</tbody>
	</table>

	<div th:if="${kouseiList != null && kouseiList.size() == 0}">登録されているユニット構成員情報はありません。</div>



	<a href="#" th:href="@{/menu}">Menu画面に戻る</a>



</body>

</html>