<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

<title>対戦画面</title>
</head>

<body>
	<nav class="battle navbar-expand-lg fixed-top navbar-dark"
		layout:fragment="nav">

		<h1>対戦画面</h1>


		<a href="#" th:href="@{/menu}">Menu画面に戻る</a>



	</nav>


</body>

</html>