<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

<title>Menu</title>

</head>


<body>
	
 	<nav class="navbar navbar-expand-lg fixed-top navbar-dark" layout:fragment="nav">
		<h2>
			<a th:href="@{/sendanm}">戦団マスタ</a>
		</h2>
		<h2>
			<a th:href="@{/unitbunruim}">ユニット分類マスタ</a>
		</h2>
		<h2>
			<a th:href="@{/unityakuwarim}">ユニット役割マスタ</a>
		</h2>


		<h2>
			<a th:href="@{/unitjyouhou/index}">ユニット情報</a>
		</h2>
		<h2>
			<a th:href="@{/unitjyouhou_f/index}">ユニット情報検索</a>
		</h2>
		
		<h2>
			<a th:href="@{/unitrekka_t/index}">ユニット能力劣化情報登録</a>
		</h2>			
		
		
		<h2>
			<a th:href="@{/unitrekka_f/index}">ユニット能力劣化情報検索</a>
		</h2>		


		<h2>
			<a th:href="@{/unitkousei_kai/index}">ユニット構成員情報</a>
		</h2>


		<h2>
			<a th:href="@{/bukim/index}">武器情報マスタ</a>
		</h2>
		<h2>
			<a th:href="@{/bukim_f/index}">武器情報検索</a>
		</h2>


		<h2>
			<a>**********</a>
		</h2>
		<h2>
			<a th:href="@{/chapter_set1/index}">先行チャプター編成画面</a>
		</h2>	
		

		
		<h2>
			<a th:href="@{/chapter_set2/index}">後攻チャプター編成画面</a>
		</h2>			
		
		<h2>
			<a>**********</a>
		</h2>		
		<h2>
			<a th:href="@{/battle/index}">対戦画面</a>
		</h2>	
	</nav>

</body>
</html>